/*
 * Author & Co-Founder: Gautham Stalin
*/
*{
    font-family: 'Expletus Sans', cursive;
}
a{
    outline: none;
    text-decoration: none;
    color: #0181C0;
    border: 0;
}
img{
    border: 0;
    outline: none;
}
a:hover, a:focus{
    color: #D55049;
}
html, body{
    width: 100%;
    height: 100%;
}
html, body, ul, li{
    padding: 0;
    margin: 0;
}
.small{
    font-size: 0.8em;
}
body{
    background: #F5F5F5;
    overflow: hidden;
}
#site_container{
    min-width: 600px;
}
.texture{
    background: url('/images/bgtexture.png') repeat 0 0 transparent;
}
.w45{
    width: 45%;
}
.w30{
    width: 30%;
}
.w25{
    width: 25%;
}
.w15{
    width: 15%;
}
.w5{
    width: 5%;
}
/* HEADER */
#header{
    background: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 2px #ccc;-moz-box-shadow: 0 2px 2px #ccc;-webkit-box-shadow: 0 2px 2px #ccc;
}
header{
    padding: 8px 20px 5px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);
}
#siteLogo{
    height: 40px;
}
/* LOGIN */
.loginBox{
    box-shadow: 0 0 5px rgba(128, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(128, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(128, 0, 0, 0.1);
    background: #f9f9f9;
    font-size: 0.9em;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px solid #ffffff;
}
.loginBox .loginImgContainer{
    background: #005792; 
    width: 40px;
    height: 40px;
}
.loginBox .loginImgContainer .loginImg{
    background: url('/images/logins.png') no-repeat 10px 9px transparent;
    width: 100%;
    height: 100%;
}
.loginBox.afterLogin{
    background: #005792;
}
.loginBox.afterLogin .loginImgContainer{
    background: #f7f7f7;
}
.loginBox.afterLogin .loginImgContainer .loginImg{
    background: url('/images/logins.png') no-repeat 10px -29px transparent;
}
.loginHeader{
    background: #f4f4f4;
    box-shadow: 0 0 2px #888888;
    text-transform: capitalize;
}
#loginContents {
    box-shadow: 0 0 200px #999999;
    -webkit-box-shadow: 0 0 200px #999999;
    -moz-box-shadow: 0 0 200px #999999;
    border: 0px solid #CCCCCC;
    margin-top: 100px;
    min-height: 100px;
    width: 500px;
    z-index: 3;
}
.loginBox.afterLogin .profileOptions{
    background: transparent;
    display: none;
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.2s cubic-bezier(.24,.51,.67,.47);
    -moz-transition: opacity 0.2s cubic-bezier(.24,.51,.67,.47);
    -o-transition: opacity 0.2s cubic-bezier(.24,.51,.67,.47);
    transition: opacity 0.2s cubic-bezier(.24,.51,.67,.47);
}
.loginBox.afterLogin .profileOptions .innerBox{
    box-shadow: 0 0 2px #777;
    -moz-box-shadow: 0 0 2px #777;
    -webkit-box-shadow: 0 0 3px #000;
    width: 130px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    margin-right: -10px;
}
.loginBox.afterLogin .profileOptions .arrow_top{
    border-bottom: 8px solid #A0A0A0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    margin-right: 10px;
    margin-top: -10px;
    right: 0;
    top: 0;
    width: 0;
}
.arrow_top .arrow_white_top{
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    margin-right: -6px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.right_triangle_btm {
    width: 0;
    height: 0;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
}
.loginBox.afterLogin:hover .profileOptions{
    display: block;
    opacity: 1;
}
.profile_settings{
    background: url('/images/profile-settings.png') no-repeat transparent;
    width: 16px;
    margin-top: 2px;
}
.optionBlock{
    padding: 5px 0px;
}
.profile_settings.profile{
    background-position: 0 0px;
    height: 19px;
}
.profile_settings.settings{
    background-position: 0 -21px;
    height: 20px;
}
.profile_settings.logout{
    background-position: 0 -41px;
    height: 20px;
}
.optionBlock .fr{
    width: 100px;
    font-size: 1.05em;
}
.closePopup{
    top: 0;
    right: 0;
    margin-right: -9px;
    margin-top: -9px;
    background: url('/images/close.png') no-repeat 0 0 transparent;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
/* END LOGIN */
/* END HEADER */
/* MIDDLE */
/* LEFT CONTAINER */
#FindHolder{
    background: transparent;
    height: 100%;
    width: 40%;
    display: none;
    margin-top: 55px;
    box-shadow: 2px 0 2px #aaaaaa;-moz-box-shadow: 2px 0 2px #aaaaaa;-webkit-box-shadow: 2px 0 2px #aaaaaa;
    transform: translateX(-100%);-moz-transform: translateX(-100%);-webkit-transform: translateX(-100%);
}
.afterAction #FindHolder{
    display: block;
    transform: translateX(0%);-moz-transform: translateX(0%);-webkit-transform: translateX(0%);
}
#FindHolder.hideElements{
    transform: translateX(-100%);-moz-transform: translateX(-100%);-webkit-transform: translateX(-100%);
}
#list-view{
    background: #ffffff;
}
#listHeader{
    background: #f5f5f5;
    box-shadow: 0 0px 2px #444;-moz-box-shadow: 0 0px 2px #444;-webkit-box-shadow: 0 0px 2px #444;
    z-index: 1;
}
#ListHolder{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.findBG{
    background: #005792;
    border: 1px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 2px #444444;
    -moz-box-shadow: 0 0px 2px #444;
    -webkit-box-shadow: 0 0px 2px #444;
}
.resultLink {
    background: none repeat scroll 0 0 rgb(238, 238, 238);
    cursor: pointer;
    padding: 5px 0;
    box-shadow: 0 0 2px #ddd;-moz-box-shadow: 0 0 2px #ddd;-webkit-box-shadow: 0 0 2px #ddd;
    text-align: center;
    text-shadow: 0 0 1px rgb(218, 218, 218);
    text-transform: capitalize;
}
.resultLink:hover, .resultLink:focus, .listSelected{
    color: #fff;
    background: #000;
}
.rentDiv{
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 2px #444444;
    border: 2px solid #fff;
    background: #f5f5f5;
    min-height: 60px;
}
.rentDiv.active{
    height: 500px;
}
.rentDiv:hover{
    background: #ffffff;
}
li.rentDivLi{
    margin-bottom: 10px;
}
li.rentDivLi:last-child{
    margin-bottom: 0px;
}
.rentDiv td{
    vertical-align: top;
}
.rent_lists{
    height: 100%;
}
ul.rentOptions{list-style:none;} ul.rentOptions li{float:left;} 
ul.rentOptions li a{
    width:23px;
    height:23px;
    background-image:url('/images/RentOptions.png');
    background-repeat:no-repeat;
    float:left;
    text-decoration:none;
    margin: 0 2px;
}
.contact_owner{
    background-position: 0 0;
}
.contact_owner:hover,.contact_owner:focus{
    background-position: 0 -25px;
}
.fav_rental{
    background-position: -23px 0;
}
.fav_rental:hover,.fav_rental:focus{
    background-position: -23px -25px;
}
.view_details{
    background-position: -47px 0;
}
.view_details:hover,.view_details:focus{
    background-position: -47px -25px;
}
.describe_rental_option{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 0.7em;
    margin-left: -35px;
    margin-top: 25px;
    padding: 2px 2px 3px;
    text-align: center;
    top: 0;
    font-weight:bold;
    width: 80px;
    display:none;
    z-index: 1;
    position:absolute;
}
ul.rentOptions a:hover .describe_rental_option{
    display:block;
}
/* END LEFT CONTAINER */
/* RIGHT CONTAINER */
#MapHolder{
    background: #E5E3DF;
    overflow: hidden;
    width: 100%;
}
/* PINS */
.streetView .hideIfStreet{
    display: none;
}
.mymarker{
    background: url('/images/person.png') no-repeat 0 0 transparent;
    width: 37px;
    height: 55px;
}
.around{
    background: url("/images/aroundsprite.png") no-repeat scroll 0 0 transparent;
    width: 26px;
    height: 35px;
    cursor: pointer;
}
.pin_food{
    background-position: 0 0;
}
.pin_atm{
    background-position: -34px 0;
}
.pin_movie{
    background-position: -68px 0;
}
.pin_bar{
    background-position: -102px 0;
}
.myFriends {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 2px #5A5A5A;
    height: 30px;
    position: relative;
}
.friendPic{
    float: left;
    position: relative;
}
.tooManyFriends {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 30px;
    text-align: center;
    width: 30px;
    cursor: pointer;
}
.tooManyFriends span{
    left: 0;
    margin-left: 2px;
    margin-top: 8px;
    position: absolute;
    top: 0;
    font-size: 0.8em;
    line-height: 1em;
}
#fb_friends_show{
    width: 500px;
}
#fb_friend_container {
    margin-top: 100px;
    width: 500px;
}
.fb_friends_div{
    max-height: 300px;
    overflow: auto;
}
.fbHead{
    background: #f4f4f4;
    box-shadow: 0 0 2px #888888;
    text-transform: capitalize;
}
div.fbBlock{
    height: 60px;
    width: 100%;
}
div.fbBlock img {
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 3px #666666;
    transition: transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
}
div.fbBlock img:hover{
    transform: scale(1.1) rotateZ(2deg);
    -moz-transform: scale(1.1) rotateZ(2deg);
    -webkit-transform: scale(1.1) rotateZ(2deg);
}
.fbLinkImg{
    background: url("/images/openFB.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 18px;
    margin-left: 4px;
    margin-top: 3px;
    opacity: 0.8;
    width: 18px;
}
.fbNameTxt{

}
.btmArr{
    background: url("/images/btmArr.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin: -1px auto 0;
    width: 18px;
}
/* END PINS */
/*  SEARCHBOX */
#searchBoxContainer{
    width: 500px;
    margin-top: 10px;
}
.afterAction #searchBoxContainer{
    width: 100%;
    margin-top: 0px;
}
.hideElements #searchBoxContainer{
    transform: translateY(-120px);-moz-transform: translateY(-120px);-webkit-transform: translateY(-120px);
}
#search_box{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px #aaaaaa;-moz-box-shadow: 0 0 2px #aaaaaa;-webkit-box-shadow: 0 0 2px #aaaaaa;
}
.afterAction #search_box{
    background: #ffffff;
    box-shadow: 0 2px 2px #aaaaaa;-moz-box-shadow: 0 2px 2px #aaaaaa;-webkit-box-shadow: 0 2px 2px #aaaaaa;
}
#search_box:focus, #search_box:hover{
    background: #fff;
}
.searchParent{
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 0 3px rgb(204, 204, 204) inset;
}
.afterAction .searchParent{
    float: left;
    min-width: 49%;
}
input.search{
    padding: 5px;
    font-size: 0.9em;
    line-height: 0.9em;
    border: 0;
    background: transparent;
    box-shadow: none;
    min-width: 160px;
}
#searchForm .down{
    margin-top: 10px;
}
.afterAction #searchForm .down{
    float: right;
    margin-top: 0;
    min-width: 49%;
}
textarea, input { outline: none; }
#autoFinder{
    background: url('/images/auto.png') no-repeat 0 0 transparent;
    height: 20px;
    cursor: pointer;
    margin-top: 5px;
    min-width: 23px;
}
#locate_me_msg{
    width: 70px; 
    top: 0px; 
    z-index: 1; 
    margin-top: 0px; 
    font-size: 0.8em; 
    padding: 2px 2px 3px; 
    background: #fff;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); 
    color: #ffffff; 
    border-radius: 3px 3px 3px 3px; 
    text-align: center;
    margin-left: -80px;
}
#autoFinder:hover #locate_me_msg{
    display: block;
}
.blackBtn{
    padding: 5.7px 0;
    background: #45484d;
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
    text-align: center;
    cursor: pointer;
}
.blackBtn span, .orangeBtn span{
    color: #FFFFFF;
    font-size: 0.85em;
    text-transform: capitalize;
    text-shadow: 0 0 1px #FFFFFF;
}
.orangeBtn{
    background: #e2ad63;
    background: -moz-linear-gradient(top,  #e2ad63 4%, #e58900 50%, #e9960d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#e2ad63), color-stop(50%,#e58900), color-stop(100%,#e9960d));
    background: -webkit-linear-gradient(top,  #e2ad63 4%,#e58900 50%,#e9960d 100%);
    background: -ms-linear-gradient(top,  #e2ad63 4%,#e58900 50%,#e9960d 100%);
    background: linear-gradient(to bottom,  #e2ad63 4%,#e58900 50%,#e9960d 100%);
    padding: 5.7px 0;
    text-align: center;
    cursor: pointer;
}
.suggestionBox{
    background: #fff;
    top: 0;
    margin-top: 30px;
    max-height: 300px;
    overflow: auto;
    z-index: 1;
}
.btmBigArr{
    background: url("/images/btmBigArr.png") no-repeat scroll 0 -9px transparent;
    height: 11px;
    width: 54px;
    margin-left: 70px;
}
#suggestionsUL li a {
    color: #0181C0;
    font-size: 0.9em;
    text-transform: lowercase;
}
#suggestionsUL li a:hover, #suggestionsUL li a:focus{
    color: #D55049;
}
/* END SEARCHBOX */
/* END RIGHT CONTAINER */
/* END MIDDLE */
/* POPUPS */
#ScreenPopup{
    display: none;
    overflow: hidden;
}
#ScreenPopup.active{
    display: block;
}
#popups{
    width: auto;
    overflow-y: auto;
}
/* LOGIN */
#loginPopup{
    width: 500px;
}
.loginHeader{
    background: #f4f4f4;
    box-shadow: 0 0 2px #888888;
    text-transform: capitalize;
}
#loginContents {
    box-shadow: 0 0 200px #999999;
    -webkit-box-shadow: 0 0 200px #999999;
    -moz-box-shadow: 0 0 200px #999999;
    border: 0px solid #CCCCCC;
    margin-top: 100px;
    min-height: 100px;
    width: 500px;
    z-index: 3;
}
.modeRegister .entryLogin, .modeForgot .entryLogin, 
.registerForm, .forgotForm, .entryRegister, .entryForgot,
.modeRegister .loginForm, .modeForgot .loginForm{
    display: none;
}
.modeRegister .entryRegister,
.modeForgot .entryForgot{
    display: inline;
}
.modeRegister .registerForm, .modeForgot .forgotForm{
    display: block;
}
.signUpLink, .loginLink{
    font-size: 0.8em;
}
.socialLogin{
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 10px 5px;
    text-align: center;
    width: 85px;
    box-shadow: 0 0 5px #A0A0A0;
    -moz-box-shadow: 0 0 5px #A0A0A0;
    -webkit-box-shadow: 0 0 5px #A0A0A0;
}
.socialLogin .socialImg{
    width: 200px;
    color: #fff;
    height: 25px;
    background: url('/images/social_text.png') no-repeat transparent;
}
.fblogin .socialImg{
    background-position: 0 0;
}
.twtlogin .socialImg{
    background-position: 0 -26px;
}
.gplogin .socialImg{
    background-position: -6px -55px;
}
.fblogin {
    background: none repeat scroll 0 0 #3B5998;
}
.twtlogin {
    background: none repeat scroll 0 0 #00BEF6;
}
.gplogin{
    background: none repeat scroll 0 0 #dd4b39;
}
.dividerLine{
    width: 1px; 
    height: 40px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #dbdbdb 42%, #d1d1d1 53%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(42%,#dbdbdb), color-stop(53%,#d1d1d1), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.dividerHLine{
    height: 1px;
    width: 450px;
    width: 70%;
    margin: 10px auto 0;
    background: #ffffff;
    background: -moz-linear-gradient(left,  #ffffff 0%, #dbdbdb 42%, #d1d1d1 53%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(42%,#dbdbdb), color-stop(53%,#d1d1d1), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    background: -o-linear-gradient(left,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    background: -ms-linear-gradient(left,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    background: linear-gradient(to right,  #ffffff 0%,#dbdbdb 42%,#d1d1d1 53%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
.loginForm label, .registerForm label, .forgotForm label{
    max-width: 25%;
    float: left;
    margin-top: 5px;
    font-size: 0.9em;
}
.loginForm input.loginField, .registerForm input.registerField, .forgotForm input.forgotField{
    padding: 5px;
    width: 70%;
    box-shadow: 0 0 1px #D7D7D7;
    -moz-box-shadow: 0 0 1px #D7D7D7;
    -webkit-box-shadow: 0 0 1px #D7D7D7;
    float: right;
}
/* END LOGIN */
/* POST FORM */
#postViewPopup{
    width: 800px;
    box-shadow: 0 0 200px #999999;-moz-box-shadow: 0 0 200px #999999;-webkit-box-shadow: 0 0 200px #999999;
}
.postViewHolder{
    width: 100%;
    box-shadow: 0 0 8px #000;-moz-box-shadow: 0 0 8px #000;-webkit-box-shadow: 0 0 8px #000;overflow: auto;
}
.outlinePost{
    margin: 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #A0A0A0;-moz-box-shadow: 0 0 10px #A0A0A0;-webkit-box-shadow: 0 0 10px #A0A0A0;
}
.borderPost{
    padding: 10px 15px;
    background: #fefefe;
    box-shadow: 0 0 30px #E8E8E8 inset;-moz-box-shadow: 0 0 30px #E8E8E8 inset;-webkit-box-shadow: 0 0 30px #E8E8E8 inset;
}
.postAdLogo{
    background: url("/images/posttitle.png") no-repeat scroll 0 0 transparent;
    height: 100px;
    margin-right: -3px;
    margin-top: -3px;
    right: 0;
    top: 0;
    width: 100px;
}
.postForm input.postField{
    padding: 5px;
    height: 18px;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px #D7D7D7;
    -moz-box-shadow: 0 0 1px #D7D7D7;
    -webkit-box-shadow: 0 0 1px #D7D7D7;
    background: #f4f4f4;
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 50%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(50%,#ffffff), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 50%,#f3f3f3 100%);
    background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 50%,#f3f3f3 100%);
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 50%,#f3f3f3 100%);
    background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 50%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f3f3f3',GradientType=0 );
    width: 100%;
    border-radius: 0;
}
.postForm label{
    font-size: 0.8em;
}
.postForm label span{
    font-style: italic;
    font-size: 0.7em;
}
div.fieldBar{
    padding: 5px 0;
}
div.fieldBar:last-child{
    padding: 0;
}
div.fieldCell{
    padding-right: 25px;
}
div.fieldCell:last-child{
    padding: 0;
}
div.customOption{
    height: 28px;
    border: 1px solid #ccc;
    position: relative;
    background: #feffff;
    background: -moz-linear-gradient(top,  #feffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #feffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #feffff 0%,#f2f2f2 100%);
    box-shadow: 0 0 1px #D7D7D7;
    -moz-box-shadow: 0 0 1px #D7D7D7;
    -webkit-box-shadow: 0 0 1px #D7D7D7;
    font-size: 0.8em;
    text-transform: capitalize;
}
div.customOption span.customValue{
    float: left;
    padding: 5px 6px 0;
}
div.customOption span.select_arrow{
    height: 100%;
    float: right;
    width: 30px;
    background: #D6D6D6;
    position: relative;
    cursor: pointer;
    z-index: 0;
}
div.customOption span.select_arrow span.arrow_down{
    width: 0; 
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 4px;
    margin-top: 2px;
    border-color:transparent #727272 #727272 transparent;
    border-style:solid;
    border-width:12px;
    z-index:1;
}
div.customOption span.select_arrow:after{
    clear: both;
}
select.customOption{
    padding: 5px;
    height: 30px;
    opacity: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
    position: absolute;
    border: 1px solid #fff;
}
select.customOption option{
    padding: 5px;
    text-transform: capitalize;
}
/* END POST FORM */
/* END POPUPS */
/* ALL TRANSITIONS */
.transition1{
    transition: all 0.1s ease-in;-moz-transition: all 0.1s ease-in;-webkit-transition: all 0.1s ease-in;
}
.transition2{
    transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;
}
.transition3{
    transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-webkit-transition: all 0.3s ease-in;
}
.transition5{
    transition: all 0.5s ease-in;-moz-transition: all 0.5s ease-in;-webkit-transition: all 0.5s ease-in;
}
/* END ALL TRANSITIONS */
/* MEDIA QUERIES */
/*
Media Queries
*/
@media (min-width: 640px) and (max-width: 800px) {
    .hideIfSmall{
        display: none;
    }
    #postViewPopup{
        width: 100%;
    }
}

@media (max-width: 640px){
    .hideIfSmall{
        display: none;
    }
    #postViewPopup{
        width: 100%;
    }
    #postForm{
        width: 100%;
    }
    #search_box{
        width: 100%;
    }
}
#Statistics{
    z-index: 5;
}
/* END MEDIA QUERIES */
/* MISC CROSS BROWSER HACKS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* END MISC CROSS BROWSER HACKS */