<div class='rel fullheight'>
    <div id='list-view' class='rel h100 z1'>
        <div>
            <div class='listHeader rel' id='listHeader'>
                <div class='p10'>
                    <div class='rel'>
                        <div class='resultLink fl w49 blue listSelected transition2'>
                            Rentals
                        </div>
                        <div id='ViewFavorites' class='resultLink fr w49 red transition2'>
                            Favorites
                        </div>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
            <div class='rent_lists rel'>
                <div class=''>
                    <div class='texture p10'>
                        <ul>
                            {{#rentals}}
                            <li class='rentDivLi'>
                                <div class='rentDiv transition5 rel p5'>
                                    <div class='rel'>
                                        {{#data}}
                                        <table border='0' cellspacing='0' cellpadding='0' class='w100'>
                                            <tr>
                                                <td class='red'>
                                                    {{post_ad_title}}
                                                </td>
                                                <td style='min-width: 100px;'>
                                                    <ul class='rentOptions fr'>
                                                        <li>
                                                            <a class='fav_rental' href=''>
                                                                <span class='describe_rental_option'>Add Favorite</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class='clear'></div>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class='fl'>
                                            {{#in_neighborhood}}<div class='small'>Closer to: {{in_neighborhood}}</div>{{/in_neighborhood}}
                                        </div>
                                        <div class='fr'>
                                            {{#imgArr}}
                                            <div class='rental_image_holder'>
                                                <img src='{{image}}' style='height:50px;' alt='' />
                                            </div>
                                            {{/imgArr}}
                                            {{^imgArr}}
                                                No Image
                                            {{/imgArr}}
                                        </div>
                                        <div class='clear'></div>
                                    </div>
                                    <div class='abs r0 b0 priceTag'>
                                        ${{post_monthly_rent}}
                                    </div>
                                    {{#post_rental_geo}}
                                    <input type='hidden' class='mapThisRental' value='{{post_rental_geo}}' />
                                    {{/post_rental_geo}}
                                    {{#addedDate}}
                                    <div class='abs l0 b0 timeTag'>
                                        {{addedDate}}
                                    </div>
                                    {{/addedDate}}
                                    {{/data}}
                                </div>
                            </li>
                            {{/rentals}}
                            {{^rentals}}
                            <li>
                                <div class='rentDiv p5 transition5'>
                                    No rentals found in this area...
                                </div>
                            </li>
                            {{/rentals}}
                        </ul>
                    </div>
                </div>
            </div>
            <div id='listFooter' class='hide'>
                <div class='rel'>
                    <div class='list_footer p10'>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>