<div class="loginPopup rel">
    <div class="rel onload leftAnim">
        <div id="loginBg">
            <div id="loginContents" class="mauto whitebg">
                <div class="rel boxshadow-grey">
                    <div class="loginHeader p10 small">
                        <span class="entryLogin">Login to</span><span class="entryRegister">Register in</span><span class="entryForgot">Reset Password For</span> Roommate Share
                    </div>
                    <div class="loginBody p15">
                        <div class="socialLoginLinks">
                            <div class="socialInfo centertext">
                                <label>See where your friends are living around the world</label>
                            </div>
                            <div class="clear"></div>
                            <a href="/login/facebook.php" class="centertext">
                                <div class="fblogin socialLogin mauto">
                                    <div class="socialImg"></div>
                                </div>
                            </a>
                            <div class="clear"></div>
                        </div>
                        <div class="dividerHLine"></div>
                        <div class="centertext mt5" style="color: #999;">- or -</div>
                        <div class="dividerHLine"></div>
                        <div class="loginContainer rel">
                            <div class="loginForm rel p10">
                                <form action="" method="post" onsubmit="return LoginToSite()">
                                    <div class="fl fullwidth mtb10">
                                        <label class="fl m0" style="max-width: 100%;" for="login_email">Already have an account?</label>
                                        <a href="javascript:changeTo('signup');" class="signUpLink fr u">Not a member, Create an Account</a>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fl fullwidth mtb10">
                                        <label for="login_email">Email:</label>
                                        <input id="login_email" required autofocus placeholder="abc@xyz.com" class="loginField" type="email" name="email" size="25">
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fl fullwidth mtb10">
                                        <label for="login_password">Password:</label>
                                        <input id="login_password" required placeholder="enter password" class="loginField" type="password" name="password" />
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fl fullwidth" style="margin: 10px 0 0;">
                                        <div class="fl mt5">
                                            <a href="javascript:changeTo('forgot');" class="forgotPassword small u">Forgot password?</a>
                                        </div>
                                        <div class="fl" style="margin-left: 40px; margin-top: 9px;">
                                            <div class="loginError red hide small italics">Invalid username/password</div>
                                        </div>
                                        <div class="fr">
                                            <input type="submit" class="orangeBtn" value="LOGIN" style="border: 1px solid; color: #fff; padding: 5px 20px;" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                            <div class="registerForm rel p10">
                                <form action="#" method="post" onsubmit="return RegisterToSite();">
                                    <div class="fl fullwidth mtb10">
                                        <label for="friendly_name">Full Name:</label>
                                        <input id="friendly_name" required autofocus placeholder="Friendly Name" class="registerField" type="text" name="friendly_name" size="25">
                                    </div>
                                    <div class="fl fullwidth mtb10">
                                        <label for="register_email">Email:</label>
                                        <input id="register_email" required placeholder="abc@xyz.com" class="registerField" type="email" name="register_email" size="25">
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fl fullwidth mtb10">
                                        <label for="register_password">Password:</label>
                                        <input id="register_password" required placeholder="Enter Password" class="registerField" type="password" name="register_password" />
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fl fullwidth mtb10">
                                        <label for="register_repassword">Re-Password:</label>
                                        <input id="register_repassword" required placeholder="Retype Password" class="registerField" type="password" name="register_repassword" />
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fl fullwidth" style="margin: 10px 0 0;">
                                        <div class="fl mt5">
                                            <a href="javascript:changeTo('login');" class="loginLink">already a member? Sign In</a>
                                        </div>
                                        <div class="fr">
                                            <input type="submit" class="orangeBtn" value="REGISTER" style="border: 1px solid; color: #fff; padding: 5px 20px;" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                            <div class="forgotForm rel p10">
                                <form action="#" method="post" onsubmit="return ForgotPassword();">
                                    <div class="fl fullwidth mtb10">
                                        <label for="reset_email">Account Email:</label>
                                        <input id="reset_email" required placeholder="abc@xyz.com" class="forgotField" type="email" name="reset_email" size="25">
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fl fullwidth" style="margin: 10px 0 0;">
                                        <div class="fl mt5">
                                            <a href="javascript:changeTo('login');" class="loginLink">Remember the password? Sign In</a>
                                        </div>
                                        <div class="fr">
                                            <input type="submit" class="orangeBtn" value="RESET" style="border: 1px solid; color: #fff; padding: 5px 20px;" />
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div onclick="goBack();" class="closePopup abs"></div>
                    <div class="clearboth clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>