<div class='rel'>
    <div class='rel'>
        <div class='fl p510 white bluebg mtb10'>
            Available: {{post_avail_date}}
        </div>
        <div class='fr p510 white bluebg mtb10'>
            ${{post_monthly_rent}}
        </div>
        <div class='clear'></div>
    </div>
    <div class='rel'>
        {{#imgArr}}
        <div class='RentalDescImg'><img src='{{image}}' class='w100' alt='Roommate Share Rentals' /></div>
        {{/imgArr}}
    </div>
    <div class='rel'>
        <div class='rel mtb10'>
            <div class='fl w49 bluebg'>
                <div class='p10 white lh20'>
                    <span class='fl small'>Bedroom</span><span class='fr medium bold'>{{no_of_bed}}</span>
                    <div class='clear'></div>
                </div>
            </div>
            <div class='fr w49 bluebg'>
                <div class='p10 white lh20'>
                    <span class='fl small'>Bathroom</span><span class='fr medium bold'>{{no_of_bath}}</span>
                    <div class='clear'></div>
                </div>
            </div>
            <div class='clear'></div>
        </div>
        <div class='rel mtb10'>
            <div class='fl w49 bluebg'>
                <div class='p10 white lh20'>
                    <span class='fl small'>Parking</span><span class='fr medium bold'>{{post_parking}}</span>
                    <div class='clear'></div>
                </div>
            </div>
            <div class='fr w49 bluebg'>
                <div class='p10 white lh20'>
                    <span class='fl small'>Preference</span><span class='fr medium bold'>{{post_room_pref}}</span>
                    <div class='clear'></div>
                </div>
            </div>
            <div class='clear'></div>
        </div>
        <div class='rel medium justify'>
            {{post_ad_description}}
        </div>
		<div class='rel mtb10'>
			<div class='fl w49 blackBtn'>
                <div class='p5 white lh20 medium bold'>
					Add to Favorites
				</div>
			</div>
			<div class='fr w49 orangeBtn'>
                <div class='p5 white lh20 medium bold'>
					Contact
				</div>
			</div>
			<div class='clear'></div>
		</div>
    </div>
</div>